*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img{
    width: 20vw;
    height: 50vh;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 10px;
    background-color: antiquewhite;

}

header,footer{
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 20px;  
    
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

a{
    text-decoration: none;
}

@media (max-width:600px){

    body{
        background-color: aqua;
    }
    main{
        display: flex;
        flex-direction: column;
    }

    img{
        width: 70vw;
        height: 50vh;
    }

}
